body {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  position: relative;
  background-color: #feffff;
  overflow-y: hidden;
}

.header{
    font-size: 55px;
    padding: 20px 0px;
    font-family: fantasy;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #4429fb;
}

.headerContainer{
  display: flex;
    justify-content: center;
    align-items: center;
}

.welcomeScreen{
  background-color:#feffff;
  height: 100vh;
}

.formContainer
  {
    display: flex;
    margin-top: 25vh;
    box-shadow: -4px 8px 15px #e9e6ff73, -4px 8px 20px #dadada5e inset;
    width: 300px;
    height: 60vh;
    margin: 15vh auto;
    border-radius: 10px;
    padding: 0px 5px;
    align-content: center;
}

#formSub{
    height: 45vh;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.field{
  display: flex;
  align-items: flex-end;
}

.MuiPaper-elevation1 {
  box-shadow: none;
}

.button {
    color:#4429fb;
    box-shadow: none;
    background-color: #fff;
    border: 1px solid #4429fb;
    padding: 8px 20px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    transition: 0.3s ease-in;
    
}

.height{
  height: 40px;
   font-size: 0.650rem;
       margin-left: 3vw;
}

.MuiSvgIcon-root {
  color: #4429fb;
  display: inline-block;
  font-size: 24px;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

.button:hover {
  background-color: #4429fb;
  color: #ffffff;
  border: none;
  cursor: pointer;
  box-shadow: 2px 3px 10px #4429fb;
}
/* .button:disabled{
  background-color: #bdb2ff;
  border:none;
  color: #ffffff;
} */


form {
    text-align: center;
    display: flex;
    padding: 2vw;
    justify-content: center;
}
#standard-basic {
  color: #41444b;
}
.recieve {
  float: left;
  margin-left: 5%;
  font-weight: 600;
  color: #4429fb;
  margin-bottom: 2%;
  padding: 10px;

  font-size: 20px;
  border-radius: 5px;
  border : 1px solid;
  background-color: #fff;
}
.send {
  float: right;
  margin-right: 5%;
  background-color: #4429fb;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 2%;
  padding: 10px;
  min-width: 100px;
  font-size: 20px;
  border-radius: 5px;
  max-width: 50%;
}
.dev {
  float: none;
  display: inline-flex;
}
.all {
  text-align: left;
  font-family: sans-serif;
}
.user {
  font-size: 10px;
  font-weight: light;
  margin-bottom: -2%;
  max-width: 50%;
}
.fixed {
  height: 200px;
}
.all p {
  margin: -0.5%;
}

.color {
  margin-top: -25vh;
  color: #41444b;
}
ul {
  list-style-type: none;
}
li {
  color: #4429fb;
  font-size: 1.2rem;
  font-weight: 100;
}
.MuiButton-contained:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}


.chatContainer{
  height: 100vh;
}

.chatSub {
    box-shadow: -4px 8px 15px #d3ccff5e;
    height: 65vh;
    overflow-y: auto;
    width: 95vw;
    margin: 2vw auto 2vw auto;
    border-radius: 12px;
}

.chatSub::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
}

.chatSub::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.chatSub::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #4529fbaf;
}

img {
  width:100px
}

@media only screen and (max-width: 700px) {
  #formSub {
    height: 58vh;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.chatSub {
    box-shadow: -4px 8px 15px #d3ccff5e;
    height: 65vh;
    overflow-y: auto;
    width: 95vw;
    margin: 4vw auto 6vw auto;
    border-radius: 12px;
}

.formContainer {
    display: flex;
    margin-top: 10vh;
    box-shadow: -4px 8px 15px #e9e6ff73, -4px 8px 20px #dadada5e inset;
    width: 300px;
    height: 70vh;
    margin: 5vh auto;
    border-radius: 10px;
    padding: 0px 5px;
    align-content: space-evenly;
}

.height {
    height: 30px;
    font-size: 0.550rem;
    margin-left: 5vw;
}
.Exitbutton {
    padding: 0px 10px;}

}